
.home-style{
    font-weight: bold;
    color: brown;
    font-size: 60px;
    margin-top: 40px;
}

.goal {
    font-size: 30px;
    color:rgb(255, 0, 162);
    margin-top: 60px;
    

}

.body{
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 70px;
    
}